@import
  "../vars"
;

section {
   .highlight {
      border:2px solid $brand-primary;
      padding: 10px;

      h4 {
         padding-top:10px;
         font-weight:700;
         font-size:18px;
      }
   }

   q {
      font-style: italic;
      font-weight:500;
   }
}