<section id="contact" class="bg-brand-primary">
   <div class="container">
      <div class="row d-flex">
         <div class="col-md-6">
            <div class="contact-container">
               <h4>Sofia Straub, MSc.</h4>
               <table class="contact-table">
                  <tbody>
                     <tr>
                        <td>Klinische Psychologie, Beratung und Behandlung</td>
                     </tr>
                     <tr>
                        <td><b>Praxiszeit</b><br>Montag - Mittwoch 17:00 - 19:00 Uhr<br>Donnerstag 08:00 - 12:00 Uhr</td>
                     </tr>
                     <tr>
                        <td><b>Adresse</b><br/>4240 Freistadt</td>
                     </tr>
                     <tr>
                        <td><b>Telefon: </b>+43 660 / 7608444 (für Rückruf bitte Mobilbox verwenden)</td>
                     </tr>
                     <tr>
                        <td><b>Mail: </b><a href="mailto:straubsofia1@gmail.com">straubsofia1@gmail.com</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="col-md-6 d-none d-md-block">
            <div id="map-container">
               <div id="map"></div>
            </div>
         </div>
      </div>
   </div>
</section>