<section id="cv" class="content-section-pad-bot">
   <div class="container">
      <div class="section-header">
         <h2 class="section-heading">Über Mich</h2>
      </div>
      <div class="row pb-4">
         <div class="col-md-5">
            <div class="avatar pb-3">
               <img src="../assets/img/soph.png" />
            </div>
         </div>
         <div class="col-md-7">
            <div class="name">
               <h1>Sofia Straub, MSc.</h1>
               <div class="spezialize">
                  Klinische Psychologin
               </div>
               <ul class="contact">
                  <li>
                     <span>T</span> +43 660/7608444
                  </li>
                  <li>
                     <span>M</span> psy.praxislinz@gmail.com
                  </li>
                  <li>
                     <span>W</span> www.psypraxis-linz.at
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5 order-sm-2">
            <div class="education">
               <h1 class="header">Ausbildung</h1>
               <div class="edu-entry">
                  <h1>Diplomierte Gesundheits- und Krankenpflege</h1>
                  <h2>Klinikum Freistadt</h2>
                  <h2>2011 - 2014</h2>
               </div>

               <div class="edu-entry">
                  <h1>Bachelor- und Masterstudium Psychologie</h1>
                  <h2>Sigmund Freud Privatuniversität Linz</h2>
                  <h2>2019 - 2022</h2>
               </div>

               <div class="edu-entry">
                  <h1>Postgraduale Ausbildung klinische Psychologie</h1>
                  <h2>Österreichische Akademie für Psychologie Linz</h2>
                  <h2>2014 - 2019</h2>
               </div>

               <div class="edu-entry">
                  <h1>Zert. Caregiver für psychosoziale Notfallhilfe</h1>
                  <h2>Commitment Institut / Sigmund Freud Privatuniversität Wien</h2>
                  <h2>2022</h2>
               </div>

               <div class="edu-entry">
                  <h1>Zert. Skillstraining nach DBT</h1>
                  <h2>Proges Linz</h2>
                  <h2>2023 - 2024</h2>
               </div>
            </div>
            <div class="skills">
               <h1 class="header">Sprachen</h1>
               <ul class="skills-list">
                  <li><b>Muttersprache:</b> Deutsch</li>
                  <li><b>Fremdsprache:</b> Englisch</li>
               </ul>
            </div>
         </div>
         <div class="col-md-7 order-sm-1 order-md-2">
            <div class="cv">
               <h1 class="header">Lebenslauf</h1>
               <div class="cv-entry">
                  <h1>Psychosoziale Betreuung und Pflege</h1>
                  <h2>Pro Mente OÖ</h2>
                  <h2>2015 - 2019</h2>
                  <p>Alltagsbegleitung und Pflege von Klient*innen mit psychischen Erkrankungen</p>
               </div>

               <div class="cv-entry">
                  <h1>Psychologische Mitarbeit bei Schultestungen</h1>
                  <h2>WKO OÖ</h2>
                  <h2>2017 - 2018</h2>
                  <p>Potenzialanalysen von Jugendlichen in Neuen Mittelschulen</p>
               </div>

               <div class="cv-entry">
                  <h1>Praktische Fachausbildung klinische Psychologie</h1>
                  <h2>Justizanstalt Asten</h2>
                  <h2>2019 - 2020</h2>
                  <p>Psychologische Beratung und Behandlung, klinisches Case Management von Untergebrachten mit psychischen Erkrankungen im Maßnahmenvollzug, in Ausbildung und unter Supervision</p>
               </div>

               <div class="cv-entry">
                  <h1>Psychiatrische Tagesklinik</h1>
                  <h2>Klinikum Freistadt</h2>
                  <h2>2021</h2>
                  <p>Klinische-psychologische Diagnostik, klinisch-psychologische Einzelgespräche und Gruppentherapien mit jugendlichen und erwachsenen Patient*innen der psychiatrischen Tagesklinik</p>
               </div>

               <div class="cv-entry">
                  <h1>Praktische Fachausbildung klinische Psychologie</h1>
                  <h2>Gemeinschaftspraxis Vöcklabruck</h2>
                  <h2>2021</h2>
                  <p>Klinisch-psychologische Diagnostik und Behandlung von Lern- und Entwicklungsstörungen im Kindes- und Jugendalter</p>
               </div>

               <div class="cv-entry">
                  <h1>Klinische Psychologie und Case Management</h1>
                  <h2>Forensisch-Therapeutisches Zentrum Asten</h2>
                  <h2>2022 - Jetzt</h2>
                  <p>Klinisch-psychologische Beratung und Behandlung, klinisches Case Management von Untergebrachten mit psychischen Erkrankungen im Maßnahmenvollzug</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>