<footer class="main-footer">
   <div class="container">
      <div class="row">
         <div class="col-md-5 col-sm-6">
            <div class="brand-container">
               <a href="#" class="footer-link" target="_blank">
                  <span class="icon icon-soph">{% include svg/main-logo.svg %}</span>
               </a>
            </div>
            <div>Sofia Straub, MSc.</div>
            <div>Klinische Psychologie, Beratung und Behandlung</div>
            <div>Altstadt 22 / Wohnung 5, 4020 Linz</div>
            <div>Telefon: +43 660 / 7608444</div>
            <div><a href="mailto:psypraxis.linz@gmail.com">Mail: psypraxis.linz@gmail.com</a></div>
         </div>
         <div class="col-md-3">
            <h4>Notfallkontakte</h4>
            <ul class="infolist">
               <li><span>112</span> - Euro-Notruf</li>
               <li><span>122</span> - Feuerwehr</li>
               <li><span>133</span> - Polizei</li>
               <li><span>140</span> - Bergrettung</li>
               <li><span>141</span> - Ärztenotdienst</li>
               <li><span>142</span> - Telefonseelsorge</li>
               <li><span>144</span> - Rettungsdienst</li>
               <li><span>01 406 43 43</span> - Vergiftungszentrale</li>
            </ul>
         </div>
      </div>
   </div>
</footer>