<footer class="main-footer">
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-sm-6">
            <div class="brand-container">
               <a href="#" class="footer-link" target="_blank">
                  <span class="icon icon-soph">{% include svg/main-logo.svg %}</span>
               </a>
            </div>
            <div>Sofia Straub, MSc.</div>
            <div>Klinische Psychologie, Beratung und Behandlung</div>
            <div>Sonnbergstraße 27, 4240 Freistadt</div>
            <div>Telefon: +43 660 / 7608444</div>
            <div><a href="mailto:straubsofia1@gmail.com">Mail: straubsofia1@gmail.com</a></div>
         </div>
         <div class="col-md-3">
            <h4>Notfallkontakte</h4>
            <ul class="infolist">
               <li><span>112</span> - Euro-Notruf</li>
               <li><span>122</span> - Feuerwehr</li>
               <li><span>133</span> - Polizei</li>
               <li><span>141</span> - Ärztenotdienst</li>
               <li><span>142</span> - Telefonseelsorge</li>
               <li><span>144</span> - Rettungsdienst</li>
               <li><span>01 406 43 43</span> - Vergiftungszentrale</li>
            </ul>
         </div>
         <div class="col-md-3">
            <h4>Weitere Kontakte</h4>
            <ul class="infolist">
               <li><span>0800 246 247</span> - Männernotruf</li>
               <li><span>0800 400 777</span> - Männerinfo</li>
               <li><span>0800 222 555</span> - Frauenhelpline</li>
               <li><span>116 123</span> - Ö3 Rotes Kreuz Kummernummer</li>
            </ul>
         </div>
         <div class="col-md-2">
            <h4>Infos</h4>
            <ul class="infolist">
               <li><a href="">Impressum</a></li>
               <li><a href="">Datenschutz</a></li>
               <li><a href="#contact">Kontakt</a></li>
            </ul>
         </div>
      </div>
      <div class="row extra-info">
         <div class="col-md-4">
            &copy; 2025 | Psypraxis Freistadt - Sofia Straub
         </div>
         <div class="col-md-8">
            Hinweis: Notrufnummern können von jedem Telefon aus österreichweit (EU-Notruf: in allen EU-Staaten) kostenlos angerufen werden. Der Euro-Notruf 112 kann auch bei gesperrten Mobiltelefonen (ohne Pin-Code) verwendet werden. 
         </div>
      </div>
   </div>
</footer>