<header id="main-header">
    <div class="container-fluid header-container row">
        <div class="col-lg-1 col-md-0 col-sm-0 d-none d-md-block"></div>
        <div class="col-lg-5 col-md-5 col-sm-0 align-self-center">
            {% include svg/main-logo.svg%}
        </div>
        <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 align-self-center">
            <div class="header-welcome-container">
                <h1 class="x-bold">Herzlich Willkommen bei Psypraxis-Linz!</h1>
                <h3>Sofia Straub, MSc.</h3>
                <h3><em>Klinische Psychologin</em></h3>
            </div>
        </div>
        <div class="col-lg-1 col-md-0 col-sm-0 d-none d-md-block"></div>
    </div>
</header>