<section id="parameters" class="content-section-pad-bot bg-light-grey">
   <div class="container">
      <div class="section-header">
         <h2 class="section-heading">Rahmenbedingungen</h2>
      </div>
      <div class="row">
         <div class="col-md-6">
            <h3><i class="fa-regular fa-calendar-days"></i> Termine</h3>
            <p>
               Eine Behandlungseinheit/Beratungseinheit dauert 50 Minunten und kostet 100 Euro. <br />
               Für Klient*innen in der Probe- und Weisungszeit gelten einige Tarife, die dem gesetzlichen Rahmen unterliegen. <br />
               Doppeleinehiten sind auf Anfrage möglich
            </p>
         </div>
         <div class="col-md-6">
            <h3><i class="fa-solid fa-ban"></i> Absageregelung</h3>
            <p>
               Termine können bis zu 48 Stunden vor Beginn der Einheit telefonisch oder schriftlich kostenfrei abgesagt werden. Kurzfristiger abgesagte Termine werden mit den Kosten der Einheit verrechnet.
            </p>
         </div>
      </div>   
      <div class="row">
         <div class="col-md-6">
            <h3><i class="fa-solid fa-lock"></i> Verschwiegenheit</h3>
            <p>
               Eine Vertrauensbeziehung, die offene Gespräche ermöglicht, stellt die Voraussetzung für eine produktive Zusammenarbeit auf Augenhöhe dar. Als klinische Psychologin weiß ich, dass es nicht immer leicht ist über seine Probleme zu berichten und vor allem zu Beginn viel Mut erfordert. Die Praxis soll Ihnen Raum geben Ihre Anliegen in angenehmer Atmosphäre zu besrprechen. Als klinische Psychologin unterliege ich der gestzlichen Verschwiegenheitspflicht.
            </p>
         </div>
         <div class="col-md-6">
            <h3><i class="fa-solid fa-user-group"></i> Leitbild der Zusammenarbeit</h3>
            <p>
               In der klinisch-psychologischen Beratung und Behandlung stehen Sie und Ihre Anliegen im Mittelpunkt. <br />
               Die Zusammenarbeit beruht auf Respekt, Wertschätzung, Vertrauen und einer Kommunikation auf Augenhöhe. <br />
               Rassistische, diskriminierende und sexistische Äußerungen sind im Sinne der Menschenwürde zu unterlassen. <br />
               Bedrhliches, aggresives Verhalten sowie Gewalt in jeder Form ist strengstens untersagt und zieht einen Behandlungsabbruch nach sich. 
            </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <h3><i class="fa-solid fa-stamp"></i> Behandlungsnachweise</h3>
            <p>
               Als Klient*in in der Probe- und Weisungszeit erhalten Sie auf Anfrage schrifltiche Nachweise über die in Anspruch genommene klinisch-psychologische Beratung und Behandlung zur Vorlage für das Gericht.
            </p>
         </div>
         <div class="col-md-6">
            <h3><i class="fa-solid fa-shield-halved"></i> Datenschutz</h3>
            <p>
               Als klinische Psychologin unterliege ich dem Datenschutzgesetz. Persönliche Informationen dürfen nur mit Ihrer schriftlichen Zustimmung an Dritte weitergegeben werden.
            </p>
         </div>
      </div>
   </div>
</section>