<section id="office" class="content-section-pad-bot-only">
   <div class="container">
      <div class="section-header">
         <h2 class="section-heading">Praxis</h2>
      </div>
      <div class="row">
         <div class="col-md-4">
            <h4>Klinisch-psychologische<br/> Beratung und Behandlung</h4>
            <ul>
               <li>Herausfordernde Lebenssituationen, kritische Lebensereignisse und persönliche Krisen</li>
               <li>Zukunftssorgen und Zukunftsängste</li>
               <li>Abhängigkeitserkrankungen und Rückfälle</li>
               <li>Schizophrenie, schizotype und wahnhafte Störungen</li>
               <li>Affektive Störungen (Depression, bipolare Störung etc.)</li>
               <li>Generalisierte und spezifische Angststörungen, Panikattacken</li>
               <li>Spezifische und kombinierte Persönlichkeitsstörungen</li>
               <li>Psychosomatische Beschwerden (Schlafstörungen, Kopfschmerzen etc.)</li>
            </ul>
         </div>
         <div class="col-md-4">
            <h4>Spezifische Angebote<br /> &nbsp;</h4>
            <ul>
               <li>Psychoedukation</li>
               <li>Antiaggressionstraining</li>
               <li>Sozialkompetenztraining</li>
               <li>Skillstraining</li>
               <li>Ressourcenaktivierung und -förderung</li>
               <li>Resilienztraining</li>
               <li>Auf Anfrage Beratung und Behandlung in englischer Sprache möglich</li>
            </ul>
         </div>
         <div class="col-md-4">
            <h4>Forensische Spezialisierung<br />&nbsp;</h4>
            <ul>
               <li>Klinisch-psychologische Beratung und Behandlung für Klient*innen in Probe- und Weisungszeit nach dem Straf- oder Maßnahmenvollzug</li>
               <li>Ausstellung von Behandlungsnachweisen zur Vorlage für das Gericht</li>
               <li>Vernetzung mit betreuten Wohngemeinschaften</li>
            </ul>
         </div>
      </div>
   </div>
</section>