<section id="welcome" class="content-section-pad-bot">
   <div class="container">
      <div class="section-header">
         <h2 class="section-heading">Willkommen</h2>
      </div>
      <div class="row">
         <div class="col-md-12">
            <p class="welcoming">
               Ich freue mich über Ihr Interesse an der klinischen Psychologie.
            </p>
            <p>
               Psychische Erkrankungen können jede*n von uns treffen und die Lebensqualität einschränken.
            </p>
            <p>
               In der klinisch-psychologischen Beratung und Behandlung versuchen wir diesen Einschränkungen in Gesprächen entgegenzuwirken und erarbeiten für Sie maßgeschneiderte Möglichkeiten mit bestehenden inneren und äußeren Zuständen umzugehen.
            </p>
            <div class="highlight">
               <h4>Klinische Psychologie</h4>
               <p>
                  Die klinische Psychologie befasst sich mit psychsichen Störungen sowie mit somatischen Erkrankungen, bei denen psychische Aspekte eine Rolle spielen. Ebenso setzt sich die klinische Psychologie mit psychischen Extremsituationen, den psychischen Folgen akuter Belastungen, mit Entwicklungskrisen und psychischen Krisen, insbesondere mit krankheitswertigen Zustandbildern auseinander [...] (Berufsverband Öserreischer Psycholog*innen, BÖP).
               </p>
            </div>
            <p></p>
            <p>
               Unser gemeinsames Ziel ist es, Sie selbst zum Experten*zur Expertin für Ihre psychische Gesundheit und damit das klinisch-psychologische Angebot überflüssig zu machen.
            </p>
            <q>Wir können den Wind nicht ändern, aber die Segel anders setzen.</q> - Aristoteles
         </div>
      </div>
   </div>
</section>