@import
  "../vars"
;

article.blogpost-teaser {
  color:#fff;

  a {
    color: #fff;
  }

  a:hover {
    color: $brand-primary;
  }

  p {
    padding: 0;
    line-height:1.5;
  }

  .image-link {
    display: inline-block;
  }

  img {
    width: 100%;
  }

  .blog-button {
    margin: 40px 0 30px 0;
  }

  .blog-button:hover {
    transition: all .45s;
    color: $brand-primary;
    border: 2px solid $brand-primary;
  }

  .teaser-header {
    position: relative;
    overflow: hidden;
    text-align: left;

    .slash-separator:after {
      content: '/';
      padding: 0px 5px 0px 5px;
  }
  }
}
