@import
  "../vars"
;

#blog {
   padding-top:120px;

   .section-header {
    text-align: center;
    padding-bottom: 50px;
  }

  article.blogpost-teaser {
    color: $brand-black;

    a {
      color: $brand-primary;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .more-posts {
      display:none;
    }
  }
}

#post{
  padding-top:120px;

  img {
    width: 100%;
  }

  .post-content{
    table {
      border:1px solid #000;

      td, th {
        border:1px solid #000;
      }

      thead th {
        font-size:16px;
      }

      th, td {
        padding:12px;
      }
    }

    .post-highlight {
      color: $brand-primary;
    }
  }
}