---
layout: blog
---

<section id="post">
   <div class="container text-justify">
      <article class="post" itemscope itemtype="https://schema.org/BlogPosting">
         <header class="post-header">
            <h2 class="post-title" itemprop="name headline">{{ page.title | escape }}</h2>
            <p class="post-meta">
               {% assign m = page.perioddate | date: "%-m" | minus: 1 %}
               <time class="date" datetime="{{ page.perioddate | date_to_xmlschema }}"
                  itemprop="datePublished"><b>{{page.periodprefix}}: </b>{{ page.perioddate | date: "%-d" }}. {{
                  site.data.i18n.months[page.lang][m] }}, {{ page.perioddate | date: "%-Y" }}</time>
               <span class="slash-separator"></span>
               <span class="author" itemprop="author" itemscope itemtype="https://schema.org/Person">{{ author }}</span>
            </p>
         </header>
         <div class="post-content" itemprop="articleBody">
            {{ content }}
         </div>
      </article>
   </div>
</section>